
* {
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI",Arial,sans-serif;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

ul {
  list-style: none;
}

/* https://stackoverflow.com/questions/19758598/what-is-sr-only-in-bootstrap-3 */
.sr-only {
  position: absolute;
  margin: -1px 0 0 -1px;
  padding: 0;
  display: block;
  width: 1px;
  height: 1px;
  font-size: 1px;
  line-height: 1px;
  overflow: hidden;
  border: 0;
  outline: 0;
}

.PageContainer {
  max-width: 1440px;
}

.ThemeBackgroundBlock {
  background-color: #2b373d;
}

header {
  display: flex;
  align-items: stretch;
  max-height: 64px;
}

header > .Logo {
  margin-right: auto;
  display: flex;
  align-items: center;
  color: #64D3CA;
}

header > a {
  color: #fff;
  text-decoration: none;
}

header > nav > a {
  display: block;
  padding-left: 12px;
  padding-right: 12px;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  padding: 20px;
}

header > nav {
  display: flex;
  letter-spacing: 0.03rem;
  font-weight: bold;
  font-size: 20px;
}

header > nav > a.active {
  border-bottom: 0.35rem solid #64D3CA;
}
