
* {
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI",Arial,sans-serif;
}

ul {
  list-style: none;
}

/* https://stackoverflow.com/questions/19758598/what-is-sr-only-in-bootstrap-3 */
.sr-only {
  position: absolute;
  margin: -1px 0 0 -1px;
  padding: 0;
  display: block;
  width: 1px;
  height: 1px;
  font-size: 1px;
  line-height: 1px;
  overflow: hidden;
  border: 0;
  outline: 0;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.round-box {
  border-radius: 8px;
}

.round-box-top {
  border-radius: 8px 8px 0 0;
}

.ThemeBordered {
  border: 0.18rem solid #EEEEEE;
}

.PageContainer {
  max-width: 1440px;
}

.ThemeBackgroundBlock {
  background-color: #2b373d;
}

.Header__Link {
  color: #fff;
  text-decoration: none;
  height: 60px;
}

header {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
}

header > .Logo {
  margin-right: auto;
  display: flex;
  align-items: center;
  color: #64D3CA;
  padding-left: 12px;
  padding-right: 12px;
  flex: 1 80%;
  font-size: large;
}

header > nav {
  display: flex;
  flex: 1 100%;
  flex-direction: column;
  letter-spacing: 0.03rem;
  font-weight: bold;
  font-size: 20px;
}

header > nav > a {
  display: block;
  text-transform: uppercase;
  padding: 12px;
}

header > nav > a.active{
  background-color: #232C32;
}

.hidden {
  display: none;
}

.collapse {
  display: none;
}

.navbar-toggle {
  background: none;
  font-size: 1.5rem;
  color: #fff;
  border: none;
  flex: 1 10%;
}

.content-container {
  padding: 2%;
}

.split-line-heading {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  margin-top: 64px;
  margin-bottom: 32px;
}

.split-line-heading-content {
  margin-top: -1%;
}

.split-line-heading::before, .split-line-heading::after {
  height: 3px;
  content: " ";
  text-shadow: none;
  background-color: #E9E7E8;
  width: 20%;
}


.Jumbotron {
  border-radius: 0;
  background-color: #85979F;
  color: #ffffff;
}

.Jumbotron {
  height: 30%;
  padding: 5%;  
}

.Jumbotron__NewsText {
  display: inline;
  background:  #E5AE64;
  box-shadow: 4px 0 0  #E5AE64, -4px 0 0  #E5AE64;
  font-size: 1.6rem;
  font-weight: bold;
}

.newspaper-text {
  font-family: 'Averia Serif Libre', 'Times New Roman', Times, serif, cursive;
}

.MainContent__ArticleSection__Heading {
  font-size: 2.5rem;
}

.MainContent__ArticleSection__SubHeading {
  font-weight: unset;
  font-size: 1.8rem;
}

.MainContent__ArticleSection__Paragraph {
  font-size: 1.2rem;
}

.MainContent__ArticleSection__Quote {
  display: inline-block;
  width: 100%;
  font-size: 1.8rem;
  quotes: none;
  font-style: italic;
  margin-top: 10%;
  margin-bottom: 10%;
  color: #64747B;
}

.MainContent__ArticleSection__Quote__Cite {
  display: inline-block;
  font-size: 1.2rem;
  width: 80%;
  margin-top: 5%;
  margin-left: 20%;
  color: #000000;
  text-align: right;
}

.MainContent__ArticleSection__Quote__Cite::before {
  content: "- "
}

.MainContent__MoreInSeriesSection__Heading {
  font-size: 2rem;
}

.MainContent__MoreInSeriesSection__EntryMedia {
  text-align: center;
  padding-bottom: 32px;
}

.MainContent__MoreInSeriesSection__EntryMedia__Post > p {
  font-size: 1.1rem;
  text-align: left;
}

.MainContent__MoreInSeriesSection__EntryMedia__Post__Title {
  color: #64D3CA;
  font-size: 2.5rem;
}

.Submenu {
  display: none;
}

.ContactFormAside {
  background-color: #E9E7E8;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 32px;
}

.ContactFormAside__Avatar {
  border-radius: 50%;
}

.ContactFormAside__AvatarBackground {

}

.ContactFormAside__ContactInfo {
  font-size: 1.1rem;
}

.ContactFormAside__ContactInfo__Label {
  display: inline;
  font-weight: bold;
}

.ContactFormAside__ContactInfo__Entry {
  display: inline;
  margin-left: 16px;
}

.ContactFormAside__ContactInfo__Entry > a {
  text-decoration: none;
  color: #64D3CA;
}

.ContactFormAside__ContactInfo__Entry::after {
  content: '\A';
  white-space: pre;
}

.ContactFormAside__Form {
  width: 100%;
  background-color: #D7D3D2;
  padding-left: 8%;
  padding-right: 8%;
}

.ContactFormAside__Form__HelloTitle {
  display: block;
  text-align: center;
}

.ContactFormAside__Form__FormControl {
  display: block;
  margin-top: 1em;
}

.ContactFormAside__Form__FormControl label, input, textarea {
  display: block;
  width: 100%;
  margin-top: 1em;
}

.ContactFormAside__Form__FormControl input, textarea {
  display: block;
  width: 100%;
  border: none;
  min-height: 3em;
}

@media screen and (min-width: 767px) {
  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .Header__Link {
    color: #fff;
    text-decoration: none;
    height: auto;
  }
  header {
    flex-flow: row nowrap;
    max-height: 64px;
  }
  header > .Logo {
    flex: auto;
  }
  header > nav.collapse {
    display: flex;
    flex-direction: row;
    flex: auto;
    justify-content: flex-end;
  }
  header > nav > a.active {
    border-bottom: 0.35rem solid #64D3CA;
  }
  header > nav > a {
    display: block;
    text-transform: uppercase;
    padding: 20px;
  }
  .navbar-toggle {
    display: none;
  }
  .Jumbotron {
    padding-left: 3%;
  }
  .Jumbotron__NewsText {
    font-size: 2rem;
  }
  .MainContent {
    display: flex;
  }
  .MainContent__ArticleSection {
    margin-right: 3%;
  }
  .MainContent__ArticleSection__Quote {
    width: 50%;
    float: right;
    margin: 2%;
  }
  .MainContent__MoreInSeriesSection__Heading > span.split-line-heading-content {
    min-width: 30%;
  }
  .split-line-heading::before, .split-line-heading::after {
    width: 50%;
  }
  .MainContent__MoreInSeriesSection__EntryMedia {
    display: flex;
    text-align: left;
    align-items: center;
  }
  .MainContent__MoreInSeriesSection__EntryMedia__Post {
    padding-left: 16px;
  }
  .Submenu {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    margin-bottom: 32px;
  }
  .Submenu__Heading {
    text-align: center;
    margin-top: 8px;
    margin-bottom: 8px;
    padding-top: 16px;
    padding-bottom: 10px;
  }
  .Submenu_MenuLink {
    display: block;
    text-decoration: none;
    color: #64D3CA;
    padding-left: 10%;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: large;
    font-weight: bold;
  }

  .Submenu_MenuLink.active {
    color: #fff;
    background-color: #64D3CA;
  }
  .ContactFormAside__ContactInfo {
    min-width: 400px;
    padding-left: 64px;
    padding-right: 24px;
  }
  .ContactFormAside__AvatarBackground {
    height: 128px;
    width: 100%;
    margin-bottom: -50px;
    margin-top: -32px;
    background-image: url(http://via.placeholder.com/600x600);
  }
}
