
* {
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI",Arial,sans-serif;
}

ul {
  list-style: none;
}

/* https://stackoverflow.com/questions/19758598/what-is-sr-only-in-bootstrap-3 */
.sr-only {
  position: absolute;
  margin: -1px 0 0 -1px;
  padding: 0;
  display: block;
  width: 1px;
  height: 1px;
  font-size: 1px;
  line-height: 1px;
  overflow: hidden;
  border: 0;
  outline: 0;
}

.PageContainer {
  max-width: 1440px;
}

.ThemeBackgroundBlock {
  background-color: #2b373d;
}

.Header__Link {
  color: #fff;
  text-decoration: none;
  height: 50px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

header > .Logo {
  margin-right: auto;
  display: flex;
  align-items: center;
  color: #64D3CA;
  padding-left: 12px;
  padding-right: 12px;
}

header > nav {
  display: flex;
  flex-direction: column;
  letter-spacing: 0.03rem;
  font-weight: bold;
  font-size: 20px;
}

header > nav > a {
  display: block;
  text-transform: uppercase;
  padding: 12px;
}

header > nav > a.active{
  background-color: #232C32;
}
mark::before {
  content: " ";
  white-space: pre;
}

mark::after {
  content: " ";
  white-space: pre;
}

@media screen and (min-width: 767px) {
  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .Header__Link {
    color: #fff;
    text-decoration: none;
    height: auto;
  }
  header {
    flex-direction: row;
    max-height: 64px;
  }
  header > nav {
    flex-direction: row;
  }
  header > nav > a.active {
    border-bottom: 0.35rem solid #64D3CA;
  }
  header > nav > a {
    display: block;
    text-transform: uppercase;
    padding: 20px;
  }
}
