.navbar {
  border-radius: 0;
  margin-bottom: 0;
}

.container .jumbotron {
  border-radius: 0;
}

header.segment-title {
  display: table;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
}

header.segment-title > h2 {
  white-space: pre;
  padding: 0 15px;
}

header.segment-title:before, header.segment-title:after {
  content: '';
  display: table-cell;
  background: #0d0d0d;
  width: 50%;
  border-radius: 5px;
  transform: scaleY(0.05);
}

/*
.article-series .entry .entry-img .entry-container .entry-title .entry-content {

}
*/
.article-series .entry .entry-img img {
  margin-bottom: 10px;
}

