body {
  font-family: "Segoe UI",Arial,sans-serif;
}

.btn:focus, .btn:active {
  outline: none !important;
}

.btn-primary {
  color: #fff;
  background-color: #64D3CA;
  border-color: #64D3CA;
}

.btn-primary:hover, .btn-primary:focus {
  color: #fff;
  background-color: #64D3CA;
  border-color: #64D3CA;
}

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
  color: #fff;
  background-color: #64D3CA;
  border-color: #64D3CA;
}

.navbar {
  border-radius: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-weight: bold;
  font-size: large;
}

.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}

.navbar-nav > .active > a {
  border-bottom: 0.35rem solid #64D3CA;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active >a:focus, .navbar-inverse .navbar-nav >.active >a:hover {
  background-color: #232C32;
}

.navbar-inverse {
  background-color: #2B373D;
  border-color:  #2B373D;
}

.navbar-brand {
  font-family: 'Monoton', cursive;
}

.navbar-inverse .navbar-brand {
  color: #64D3CA;
  font-size: x-large;
}

.container .jumbotron {
  border-radius: 0;
  background-color: #85979F;
  color: #ffffff;
}

.container .jumbotron > h2 > mark {
  padding: 0;
  background-color: #E5AE64;
}

.article-title-sharp {
  color: #64D3CA;
}

.article-title {
  font-weight: bold;
}

.article-text {
  font-family: 'Averia Serif Libre', 'Times New Roman', Times, serif, cursive;
}

.article-text > p, blockquote {
  font-size: 2rem;
}

.article-text-light {
  color: #85979F;
}

.introductory {
  font-size: large;
}

.highlight-article-segment .quote {
  font-style: italic;
  border-left: 0;
  float: right;
  padding-bottom: 0;
}

.highlight-article-segment .quote .saying {
  text-align: left;
  color: #64747B;
  display: block;
  font-size: x-large;
  margin-bottom: 2rem;
}

.highlight-article-segment .quote > footer {
  text-align: right;
  color: #000000;
  font-size: large;
}

@media screen and (min-width: 768px) {
  .quote {
      width: 60%;
  }
}

header.segment-title {
  display: table;
  text-align: center;
  padding: 1rem;
  margin: 0 auto;
}

header.segment-title .title {
  white-space: pre;
  padding: 0 2rem;
  margin-top: -0.1rem;
  letter-spacing: 0.05rem;
  font-weight: bold;
}

header.segment-title:before, header.segment-title:after {
  content: '';
  display: table-cell;
  background: #E9E7E8;
  width: 50%;
  transform: scaleY(0.1);
}

/*
.article-series .entry .entry-img .entry-container .entry-title .entry-content {

}
*/

.article-series {
  margin-bottom: 3rem;
}

.article-series .entry .entry-img img {
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.submenu-container {
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  margin-bottom: 2.5rem;
  border-radius: 0.75rem;
  border: 0.18rem solid #EEEEEE;
}

.submenu-container .title {
  font-weight: bold;
}

.submenu > li {
  font-size: large;
  font-weight: bold;  
  width: 100%;
  text-align: left;
}

.submenu > li.active {
  background-color: #64D3CA;
}

.submenu > li.active > a {
  color: #fff;
}

.submenu > li > a, .submenu > li > a:hover {
  width: 100%;
  color: #64D3CA;
}


.widget-container {
  background-color: #E9E7E8;
  border-radius: 1rem;
}

.name-card-background {
  height: 12rem;
  border-radius: 1rem 1rem 0 0;
  background-image: url(http://via.placeholder.com/600x600);
}

.name-card-profile-img > img {
  border-radius: 50%;
  height: 12rem;
  margin: 0 auto;
  margin-top: -6rem;
}

.profile-widget-container .contact-detail {
  padding: 2rem;
}

.profile-widget-container .contact-detail .field {
  padding: 1rem;
  margin-left: 2rem;
  font-size: large;
}

.profile-widget-container .contact-detail .field-name {
  padding-right: 1rem;
  font-weight: bold;
}

.profile-widget-container .contact-detail .field-value {
  padding-left: 1rem;
  font-family: 'Averia Serif Libre', 'Times New Roman', Times, serif, cursive;
}

.profile-widget-container .contact-detail .field-value-sharp {
  color: #64D3CA;
}

.name-card {
  padding-bottom: 2rem;
}

.contact-form {
  background-color: #D7D3D2;  
  padding: 2rem;
}

.contact-form > button {
  margin-top: 3rem;
}

.map-widget-container {
  padding: 2rem;
}

.map-widget-container .banner {
  text-align: center;
  padding-bottom: 2rem;
}

.map-widget-container .map {
  min-height: 10rem;
  margin-left: -2rem;
  margin-right: -2rem;
}

.map-widget-container .addr-text {
  font-size: medium;
  font-family: 'Averia Serif Libre', 'Times New Roman', Times, serif, cursive;
}

.related-article-container {
  border-radius: 0.5rem;
  border: 0.18rem solid #EEEEEE;
  margin-bottom: 3rem;  
}

.related-article-container .article-img {
  margin: -0.18rem;
}

.related-article-container .article-img > img {
  border-radius: 0.5rem 0.5rem 0 0;
}

.related-article-text {
  padding: 1rem;
}

.section {
  margin-bottom: 2rem;
}

section {
  margin-bottom: 2rem;
}

.footer {
  color: #D7D3D2;
  background-color: #2b373d;
  padding: 8rem;
  padding-bottom: 5rem;
}

.footer-columun {
  text-align: center;
}

.footer-link {
  margin: 1rem;
  font-size: large;
}

.footer-link > a {
  color: #85979F;
}

.footer-columun .title {
  font-weight: bold;
  color: #fff;
}